.imageContBlock-1{
  background: url("https://i.ibb.co/L6mHq2F/Warrior-Cr.png"); /*Картинка воина*/
  width: 247px;
  height: 240px;
  border: 1px solid #2a1d13!important;
 
}

.imageContBlock-2{
  background: url("https://i.ibb.co/4PHf5Zw/RangerCr.png"); /*Картинка следопыта*/
  width: 247px;
  height: 240px;
  border: 1px solid #2a1d13!important;
 
}
.imageContBlock-3{
  background: url("https://i.ibb.co/KhnTyFZ/Wizzard-Cr.png"); /*Картинка волшебника*/
  width: 247px;
  height: 240px;
  border: 1px solid #2a1d13!important;
 
}
.imageContBlock-4{
  background: url("https://i.ibb.co/S0qnJ3b/Warlock-Cr.png"); /*Картинка колдуна*/
  width: 247px;
  height: 240px;
  border: 1px solid #2a1d13!important;
 
}
.imageContBlock-5{
  background: url("https://i.ibb.co/PtSKM67/Sorcerer-Cr.png"); /*Картинка чародея*/
  width: 247px;
  height: 240px;
  border: 1px solid #2a1d13!important;
 
}
.imageContBlock-6{
  background: url("https://i.ibb.co/YL27nZW/RogueCr.png"); /*Картинка плута*/
  width: 247px;
  height: 240px;
  border: 1px solid #2a1d13!important;
 
}
.imageContBlock-7{
  background: url("https://i.ibb.co/K6FQXx7/DruidCr.png"); /*Картинка друида*/
  width: 247px;
  height: 240px;
  border: 1px solid #2a1d13!important;
 
}
.imageContBlock-8{
  background: url("https://i.ibb.co/nL5PH2R/ClericCr.png"); /*Картинка жреца*/
  width: 247px;
  height: 240px;
  border: 1px solid #2a1d13!important;
 
}
.imageContBlock-9{
  background: url("https://i.ibb.co/TvgDRTP/Paladin-Cr.png"); /*Картинка паладина*/
  width: 247px;
  height: 240px;
  border: 1px solid #2a1d13!important;
 
}
.imageContBlock-10{
  background: url("https://i.ibb.co/qyZLrTw/Barbarian-Cr.png"); /*Картинка варвара*/
  width: 247px;
  height: 240px;
  border: 1px solid #2a1d13!important;
 
}
.imageContBlock-11{
  background: url("https://i.ibb.co/25638Z1/BardCr.png"); /*Картинка барда*/
  width: 247px;
  height: 240px;
  border: 1px solid #2a1d13!important;
 
}
.imageContBlock-12{
  background: url("https://i.ibb.co/Ycj7ZG9/MonkCr.png"); /*Картинка монаха*/
  width: 247px;
  height: 240px;
  border: 1px solid #2a1d13!important;
 
}